mat-card-title {
  &.comment {
    font-size: 1.4em !important;
    color: #364652;

    .wp-smiley {
      max-height: 1.1em !important;
      height: 1.1em !important;
    }
  }
}

mat-card-subtitle {
  width: 100%;

  mat-form-field {
    width: 100% !important;
  }

  .btn-action {
    display: inline;
    margin-right: 3px;

    &:hover {
      cursor: pointer;
      color: darkslategray;
    }
  }
}
