<div class="my-1 ml-2">
  <mat-card-header>
    <img mat-card-avatar [src]="comment.author_avatar_urls['24']" />
    <mat-card-title class="author-name">
      {{ comment.author_name }}
    </mat-card-title>

    <!-- view -->
    <mat-card-title
      class="comment"
      *ngIf="!isEdit"
      [innerHtml]="comment.content.rendered | sanitize"
    >
    </mat-card-title>
    <!-- view -->

    <!-- edit -->
    <mat-card-subtitle *ngIf="isEdit">
      <mat-form-field class="mx-2" appearance="outline">
        <textarea
          matInput
          rows="5"
          type="text"
          [(ngModel)]="comment.content.raw"
        ></textarea>
      </mat-form-field>
      <span class="btn-action" (click)="isEdit = !isEdit"> Cancel </span>
      <span class="btn-action" (click)="update()"> Submit </span>
    </mat-card-subtitle>
    <!-- edit -->

    <!-- view buttons -->
    <mat-card-subtitle *ngIf="!isEdit">
      <span *ngIf="app.aws.isLogged && comment.author === app.aws.myInfo['id']">
        <span class="btn-action" (click)="edit()">Edit</span>
        <span class="btn-action" (click)="delete()">Delete</span>
      </span>
      <span> {{ comment.date | date: 'medium' }} </span>
    </mat-card-subtitle>
    <!-- view buttons -->
  </mat-card-header>
</div>
