<mat-card class="mb-3">
  <mat-card-header>
    <img mat-card-avatar [src]="post._embedded.author[0].avatar_urls['24']" />
    <mat-card-title>{{ post._embedded.author[0].name }}</mat-card-title>
    <mat-card-subtitle>{{ post.date | date: 'medium' }}</mat-card-subtitle>

    <!-- option icon button -->
    <button
      mat-icon-button
      class="my-auto menu"
      [matMenuTriggerFor]="menu"
      *ngIf="app.aws.myInfo && app.aws.myInfo['id'] == post.author"
    >
      <mat-icon>more_horiz</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button class="w-100" mat-button (click)="edit()">
        <span> EDIT</span>
      </button>
      <button class="w-100" mat-button (click)="delete()">
        <span> DELETE</span>
      </button>
    </mat-menu>
    <!-- option icon button -->
  </mat-card-header>
  <mat-card-content>
    <!-- view -->
    <div class="content" *ngIf="!isEdit">
      <div
        id="post-title"
        [innerHTML]="post.title['rendered'] | sanitize"
      ></div>
      <div
        id="post-content"
        [innerHTML]="post.content['rendered'] | sanitize"
      ></div>
      <div *ngIf="post.featured_media" class="mt-2">
        <span><small>Attachment:</small></span> <br />
        <a [href]="realMediaUrl" target="_blank">
          <img
            [src]="
              post._embedded['wp:featuredmedia'][0].media_details.sizes.medium
                .source_url
            "
          />
        </a>
      </div>
    </div>
    <!-- view -->

    <!-- edit -->
    <div *ngIf="isEdit">
      <mat-form-field>
        <input matInput type="text" [(ngModel)]="post.title.raw" />
      </mat-form-field>
      <mat-form-field appearance="outline">
        <textarea matInput [(ngModel)]="post.content.raw" rows="10"> </textarea>
        <app-emote-menu matSuffix (addEmote)="inject($event)"></app-emote-menu>
      </mat-form-field>

      <app-file-upload
        [fileName]="fileName ? fileName : 'No File Chosen'"
        [url]="
          post._embedded['wp:featuredmedia']
            ? post._embedded['wp:featuredmedia'][0].media_details.sizes.medium
                .source_url
            : ''
        "
        (fileID)="post.featured_media = $event"
      ></app-file-upload>

      <button mat-button (click)="isEdit = !isEdit">CANCEL</button>
      <button
        mat-button
        (click)="updateInit()"
        class="btn-submit"
        [disabled]="submitDisable"
      >
        SUBMIT
      </button>
    </div>
    <!-- edit -->

    <!-- comments / replies -->
    <div
      *ngIf="
        post.comment_status === 'open' && post._embedded.replies !== undefined
      "
    >
      <hr class="mb-0" />
      <p class="m-1 text-right">
        {{
          post._embedded.replies[0].length === 1
            ? '1 comment'
            : post._embedded.replies[0].length + ' comments'
        }}
      </p>
      <app-comment
        *ngFor="let reply of post._embedded.replies[0]"
        [comment]="reply"
      ></app-comment>
    </div>

    <!-- comments / replies -->
  </mat-card-content>
  <mat-card-footer class="p-0 px-3">
    <app-comment-create
      [post_id]="post.id"
      *ngIf="!isEdit && post.comment_status === 'open' && app.aws.isLogged"
    ></app-comment-create>
  </mat-card-footer>
</mat-card>
