.menu {
  position: absolute;
  right: 1em;
  top: 1em;
}

.content {
  padding-left: 1rem;
  border-left: 2px solid gray;
}

#post-title {
  font-size: 1.8em;
}

#post-content {
  p {
    font-size: 1.2em !important;

    > .wp-smiley {
      max-height: 1.3em !important;
      height: 1.3em !important;
    }
  }
}
