<mat-card class="mb-2 w-100">
  <mat-card-header>
    <mat-card-title> New Post </mat-card-title>

    <div *ngIf="app.rootUrl === '/profile'" class="mx-auto">
      <mat-checkbox
        *ngFor="let category of categories"
        [value]="category.id"
        (change)="postCategory(category.id)"
        [checked]="postForm.categories.includes(category.id)"
        class=" m-3 "
        >{{ category.name }}</mat-checkbox
      >
    </div>
  </mat-card-header>

  <mat-card-content>
    <mat-form-field>
      <input matInput placeholder="Post Title" [(ngModel)]="postForm.title" />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <textarea
        matInput
        placeholder="Post Content"
        [rows]="10"
        [(ngModel)]="postForm.content"
      ></textarea>
    </mat-form-field>

    <mat-form-field>
      <mat-select placeholder="Post Status" [(ngModel)]="postForm.status">
        <mat-option value="draft">Draft</mat-option>
        <mat-option value="publish">Publish</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-card-actions>
      <mat-slide-toggle
        (change)="postForm.comment_status = !postForm.comment_status"
      >
        Allow comment: {{ comment_status ? 'Yes' : 'No' }}
      </mat-slide-toggle>

      <span class=" spacer "></span>

      <button mat-button (click)="post()">Submit</button>
    </mat-card-actions>
  </mat-card-content>
</mat-card>
