<mat-toolbar class="px-5">
  <button
    mat-button
    class="p-2"
    (click)="app.navigateToForum()"
    [class.active]="app.rootUrl === '/forum'"
  >
    FORUM
  </button>
  <button
    mat-button
    class="p-2"
    *ngIf="app.aws.isLogged"
    (click)="getProfile()"
    [class.active]="app.aws.user.id === app.aws.myInfo['id']"
  >
    {{ app.aws.myInfo['name'] | uppercase }}
  </button>
  <span class="spacer"></span>
  <button
    mat-button
    class="p-2"
    *ngIf="!app.aws.isLogged"
    (click)="app.navigateToAuthPage()"
    [class.active]="app.rootUrl === '/'"
  >
    LOGIN
  </button>
  <button mat-button *ngIf="app.aws.isLogged" (click)="logout()">
    <span>LOGOUT</span>
  </button>
</mat-toolbar>
