nav {
  display: flex;
  color: hsl(0, 0%, 63%);
  background-color: #364652;

  .spacer {
    flex-grow: 1;
  }

  button {
    &:hover,
    &:active {
      color: #ccddda;
    }
  }
}
