mat-card {
  ::ng-deep .mat-card-header-text {
    /* CSS styles go here */
    margin: 0 auto; // for example to remove the margin
  }

  mat-card-content {
    max-height: 250px;
    overflow: scroll;
    overflow-x: hidden;

    &::-webkit-scrollbar {
      display: none;
    }

    div {
      color: #364652;

      &:hover {
        cursor: pointer;
        color: black;
      }
    }
  }
}
