<div class="row">
  <div class="col-md-3">
    <app-info *ngIf="app.aws.user.id" [user]="app.aws.user"></app-info>
    <app-menu></app-menu>
  </div>
  <div class="mb-5 col-md-9">
    <app-post-create
      *ngIf="app.aws.myInfo['id'] === app.aws.user.id && app.compose"
      [categories]="app.aws.categories"
    ></app-post-create>
    <app-post *ngFor="let post of app.aws.posts" [post]="post"></app-post>
    <app-paginator
      *ngIf="app.aws.currentTotalPages !== 0 || app.aws.currentTotalPages !== 1"
    ></app-paginator>
  </div>
</div>
