<div class="forum-menu mb-3" *ngIf=" awService.categories ">

  <div class="post-menu">
    <button mat-raised-button (click)=" awService.compose = !awService.compose ">CREATE POST</button>
  </div>

  <div class="category-menu">
    <button mat-raised-button (click)=" getData() " class=" awService.currentCategory ? '' : 'active'">
      ALL POSTS
    </button>
    <button mat-raised-button *ngFor="let category of awService.categories" (click)=" getData(category.id) ">
      {{ category.name | uppercase }}
    </button>
  </div>

</div>
