@import '~@angular/material/theming';

.btn-submit {
  background-color: #5cbc70;
}

.btn-confirm {
  background-color: #537685;
}

.btn-cancel,
.btn-close {
  background-color: #b32e2e;
}

.btn-disabled {
  background-color: #e8ecec;
}

.text-warning {
  color: #ff9c20;
}

.text-error {
  color: #f00314;
}

.text-success {
  color: #46d146;
}

.text-disabled {
  color: #e0e4e4;
}
