mat-card-header {
  ::ng-deep div.mat-card-header-text {
    width: 100%;
  }
}

mat-card-title {
  display: inline-block;
  color: #537685;

  ::ng-deep p {
    margin: 0 1rem;
    font-size: 1rem;
    color: #364652;
  }
}

mat-form-field {
  width: 100%;
}

mat-card-subtitle {
  span {
    margin: 0 3px;
  }
}

.btn-edit {
  &:hover {
    cursor: pointer;
    color: #364652;
  }
}
