<div class="my-1 ml-2">
  <mat-card-header>
    <img mat-card-avatar [src]="reply.author_avatar_urls['24']" />
    <mat-card-title class="author-name">
      {{ reply.author_name }}
    </mat-card-title>

    <mat-card-title *ngIf="!isEdit" [innerHtml]="reply.content.rendered">
    </mat-card-title>

    <mat-card-subtitle *ngIf="isEdit">
      <mat-form-field class="mx-2" appearance="outline">
        <input
          matInput
          type="text"
          [(ngModel)]="reply.content.raw"
          [placeholder]="reply.content.raw"
        />
      </mat-form-field>
    </mat-card-subtitle>

    <mat-card-subtitle>
      <span class="btn-edit" (click)="isEdit = !isEdit">{{
        isEdit ? 'Cancel' : 'Edit'
      }}</span>
      <span *ngIf="isEdit" (click)="updateComment()" class="btn-edit">
        Submit
      </span>
      <span *ngIf="!isEdit">{{ reply.date | date: 'medium' }}</span>
    </mat-card-subtitle>
  </mat-card-header>
</div>
<!-- {{ reply | json }} -->
