<div class="mb-3" *ngIf="categories">
  <div
    *ngIf="
      app.rootUrl === '/forum' ||
      (app.aws.user.id === app.aws.myInfo['id'] && app.rootUrl === '/profile')
    "
  >
    <button
      mat-button
      *ngIf="app.aws.myInfo"
      (click)="create()"
      [class.active]="app.compose"
    >
      CREATE POST
    </button>
  </div>
  <div class="category-menu">
    <button
      mat-button
      (click)="getData('posts')"
      [class.active]="!app.aws.currentCategory"
    >
      ALL POSTS
    </button>
    <button
      mat-button
      (click)="getData(category.name, category.id)"
      *ngFor="let category of categories"
      [class.active]="app.aws.currentCategory === category.id"
    >
      {{ category.name }}
    </button>
  </div>
</div>
