<div class="mb-3" *ngIf="appService.aws.categories">
  <div
    class="post-menu"
    *ngIf="
      appService.rootUrl === '/forum' ||
      (appService.aws.user.id === appService.aws.myInfo['id'] &&
        appService.rootUrl === '/profile')
    "
  >
    <button mat-button (click)="create()">CREATE POST</button>
  </div>
  <div class="category-menu">
    <button
      [class.active]="!appService.aws.currentCategory"
      (click)="getData('posts')"
      mat-button
    >
      ALL POSTS
    </button>
    <!-- fuck this it's not working with mat-button -->
    <button
      matBadgeOverlap="false"
      matBadgePosition="before"
      (click)="getData(category.name, category.id)"
      *ngFor="let category of appService.aws.categories"
      [class.active]="appService.aws.currentCategory === category.id"
    >
      {{ category.name }}
    </button>
  </div>
</div>
